  h3
  {
    font-size: 25px !important;
  }
.btn-info:hover
{
	background-color: rgb(10, 23, 204);
}
  canvas {
	  animation-name: example;
	  animation-duration: 2s;
	  animation-iteration-count: infinite;
  }


@keyframes example {

  from {box-shadow: 1px 1px 38px rgb(201, 93, 201);}
  to {box-shadow: 1px 1px 38px rgb(167, 6, 199);}

}
